<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182725334440-ftkkokn1g846gh2eahh13rbdj9krc5hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182725334440-ftkkokn1g846gh2eahh13rbdj9krc5hu</string>
	<key>API_KEY</key>
	<string>AIzaSyAC_1leDFPxEU9pogXFjUyi0A-_ceN6iTM</string>
	<key>GCM_SENDER_ID</key>
	<string>182725334440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.gosu.devapps</string>
	<key>PROJECT_ID</key>
	<string>fir-testapp-5b7cf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testapp-5b7cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182725334440:ios:ca1290cd51af239f69f99d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-testapp-5b7cf-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>